# --- API & Network ---
DATABASE_URL=sqlite:////app/data/client.db
SERVER_API_URL=http://server-fl:8080
FL_SERVER_ADDRESS=server-fl:8085

# --- Paths (Absolute) ---
RAW_DATA_PATH=/app/raw_data
DATA_PATH=/app/data

# --- General ---
PYTHONUNBUFFERED=1
HOSTNAME=client-unknown

# --- Camera Settings (Hardware Optimization) ---
CAMERA_INDEX=0
CAMERA_FORMAT=MJPG
CAMERA_WIDTH=1280
CAMERA_HEIGHT=720
