# IP Address fisik dari Laptop/Komputer SERVER
SERVER_IP=127.0.0.1

# Nama Unik Perangkat Client (Terminal)
CLIENT_ID=terminal-1

# Path ke dataset lokal di perangkat client (folder berisi foto mahasiswa)
# Gunakan path absolut atau path relatif terhadap docker-compose-client.yml
RAW_DATA_PATH_CLIENT=../raw_data/students
